.headContainer {
  background-image: url(../../assets/Fondo_Azul.jpg);
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Hace que el header esté fijo */
  top: 0; /* Fija la posición en la parte superior */
  left: 0; /* Fija la posición al inicio horizontal */
  width: 100%; /* Asegura que el header ocupe todo el ancho */
  z-index: 1000; /* Se asegura de que el header quede en el frente */
  background-size: auto; /* Ajusta la imagen de fondo para que cubra el espacio */
  background-repeat: auto; /* Evita que la imagen de fondo se repita */
}

.headContainer h3 {
  color: rgb(238, 53, 53);
  margin: 0; 
  margin-left: 50px;
}

.logo img {
  height: 50px;
}
