.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6abdd;
  padding: 1px 25px;
}

.logo img {
  height: 30px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li {
  display: inline;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: #ffcc00;
}